.footerSection{
    background-color: rgb(235, 238, 239);
    height: auto;
    padding: 20px;
    margin-top: 20px;
}
.footerData{
    display: inline-flex !important;
    color: white !important;
}
.footerLists{
    list-style-type: none;
}
.footerText{
    font-size: 13px;
}
.followSection{
    text-align: center;
}
.follwerImages{
    list-style: none;
    display: inline-flex;
    flex-wrap: wrap;
    cursor: pointer;
}
.copyrightSection{
    height: auto;
    padding: 2px;
    background-color: rgb(0, 47, 52) !important;
    color: white;
    margin-bottom: 20px;
    font-size: 12px;
    text-align: center;
}